= "Hello #{h @recipient_name},"

You are receiving this e-mail because you or an administrator asked a new password for your account.

Your password has been successfully changed.

Best regards.

= "---"
The VSFTPD Users Application