!blue = #ccccff
!pink = #ddb0de
!lighter_bg_gray = #4e4e4e
!light_bg_gray = #2e2e2e
!bg_gray = #181818
!red = red


#content
  :padding 2em 3em
  p, span
    :font-size 1.3em
  
#central_box
  :margin 10em auto 2em auto
  :padding 2em
  :width 500px
  :border= 2px dashed !blue
  h2
    :margin-bottom 1.5em
  .form_holder
    :width 440px
    :margin auto
    p
      :margin 1em 0
      span
        :display block
        label
          :margin-bottom 0.1em
        input
          :height 1.2em
          :width 428px
          :font-size 1em
          :padding 0.2em
          :margin-bottom 1em
          :border= 2px solid !blue
          :background= !light_bg_gray
          :color= !blue
          &:hover, &:focus
            :border= 2px solid !pink
            :background= !lighter_bg_gray
// Forms

p.submit input
  :padding 0.5em
  :font-size 1.2em
  :border= 2px solid !blue
  :background= !light_bg_gray
  :color= !blue
  &:hover, &:focus
    :color= !pink
    :border= 2px solid !pink  

p
  span.key
    :color= !blue
    :width 200px
    :float left
  span.value
    
