* {
  margin: 0;
  padding: 0; }

body {
  background: #181818;
  font-family: Myriad, "Myriad Pro";
  color: #D5D5D5;
  font-size: 62.5%; }

a, a:link, a:visited {
  color: #00c0ff; }

a:hover {
  color: #ddb0de;
  text-decoration: none; }

p a.button {
  text-decoration: none;
  line-height: 44px;
  padding: 11px 10px 8px 10px;
  font-size: 1.3em;
  border: 2px solid #00c0ff;
  background: #2e2e2e;
  color: #00c0ff; }
  p a.button:hover, p a.button:focus {
    color: #ddb0de;
    border: 2px solid #ddb0de; }
p a.alternative_button {
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-left: 1px solid white; }

td a.button {
  border: 2px solid #4e4e4e;
  padding: 0.2em 0.4em;
  text-decoration: none;
  hover-border: 2px solid #00c0ff;
  hover-color: #00c0ff;
  hover-text-decoration: underline; }

a img {
  border: 0; }

h1, h2, h3 {
  font-weight: normal;
  color: #00c0ff; }

h1 {
  background: #2e2e2e;
  padding: 0.3em 0.3em 0.1em 0.3em;
  font-size: 3.8em;
  margin-bottom: 1em; }

h2 {
  background: #2e2e2e;
  padding: 0.3em 0.3em 0.1em 0.3em;
  font-size: 2.8em;
  position: relative; }
  h2.page_title {
    margin-bottom: 1em; }

h3 {
  background: #2e2e2e;
  padding: 0.3em 0.3em 0.1em 0.3em;
  font-size: 2.2em;
  position: relative; }
  h3.subtitle {
    margin: 2em 0 1em 0; }

.error {
  color: red; }

.smiley {
  font-size: 100px;
  margin: 1em auto;
  width: 80%;
  text-align: center; }

#header {
  height: 1.5em;
  padding: 1em;
  background: #2e2e2e;
  border-bottom: 2px dashed #00c0ff; }
  #header h1.title {
    font-size: 1.6em;
    float: left;
    width: 20%;
    padding: 0; }
    #header h1.title a {
      text-decoration: none; }
    #header h1.title a:hover {
      text-decoration: underline; }
  #header .message_notice, #header .message_error {
    float: left;
    width: 55%;
    margin: -3px auto 0 auto;
    font-size: 1.4em;
    padding: 3px 5px 1px 5px; }
  #header .message_notice {
    background: #00c0ff;
    color: #2e2e2e; }
  #header .message_error {
    background: red;
    color: #ddb0de; }
  #header .menu {
    text-align: right;
    width: 20%;
    float: right;
    font-size: 1.2em; }
    #header .menu .name {
      margin-right: 10px; }
