%h1 Creating ftpuser

= error_messages_for :ftpuser

- form_for(:ftpuser, :url => objects_url) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p= submit_tag "Create"

= link_to 'Back', objects_path
