%p
  %label{:for => "server_name"} Name:
  = f.text_field :name
%p
  %label{:for => "server_ip_address"} Ip address:
  = f.text_field :ip_address
%p
  %label{:for => "server_description"} Description:
  = f.text_area :description
