%h2.page_title
  The Servers
  %ul
    %li= link_to "Create a new server", new_server_path
    %li= link_to "Back to the homepage", home_path


= render :partial => "servers_table", :locals => {:current_objects => @servers}