%div[groups]

  = link_to 'Show', object_path(groups)
  |
  = link_to 'Edit', edit_object_path(groups)
  |
  = link_to 'Destroy', object_path(groups), :confirm => 'Really destroy groups?', :method => :delete
