%h2.page_title
  Listing users
  %ul
    %li= link_to "Create a new user", new_user_path
    %li= link_to "Back to my account", account_path

= render :partial => 'users_table', :locals => {:current_objects => @current_objects}