#central_box
  %h2 Register

  .form_holder
    - form_for(@user, :url => account_path) do |f|
      = f.error_messages
      = render :partial => "form", :locals => {:f => f}
      %p.submit= submit_tag "Register"