%h2.page_title My Account

%p
  %span.key Login: 
  %span.value= h @user.login
%p
  %span.key Name: 
  %span.value= h @user.name
%p
  %span.key Contact email:
  %span.value= h @user.email

%h3.subtitle FTP accounts
